<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TITLE!!!</title>

    <link rel="stylesheet" href="css/materialize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/icons.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <script src="javascript/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="javascript/materialize.js" type="text/javascript"></script>
    <script src="javascript/react.min.js" type="text/javascript"></script>
    <script src="javascript/ReactRouter.js" type="text/javascript"></script>
    <script src="javascript/JSXTransformer.js" type="text/javascript"></script>
    <script type="text/jsx">
      var Route = ReactRouter.Route;
      var RouteHandler = ReactRouter.RouteHandler;
      var Router = ReactRouter;

      var Layout = React.createClass({
        search: function(e){
          e.preventDefault();

          window.location = "homepage#/job/"+$('#search').val();

          return;
        },
        render() {
          return (
            <div>
              <nav className="uppernav" className="navbar blue">
                <div className="nav-wrapper">
                  <a href="#"><img src="img/logo-full.png" className="navbar-logo"/></a>

                  <ul className="right tab-element">
                    <a href="/" className="btn waves-effect waves-light blue">Log out</a>
                  </ul>
                  <div className="right tab-element tab-input hide-on-med-and-down">
                    <form onSubmit={this.search}>
                      <div className="">
                        <input type="text" id="search" placeholder="Search"/>
                      </div>
                    </form>
                  </div>
                </div>
              </nav>

              <div className="container-content">
                <RouteHandler/>
              </div>
            </div>
          );
        }
      });

      var StatusBox = React.createClass({
        addPost(e){
          e.preventDefault();

          this.props.addPost({
            img: "img/003.jpg",
            url: "#",
            name: "Peter Bernard M. Rupa",
            action: "says:",
            body: $('#status').val()
          });

          $('#status').val('');
        },
        render(){
          return (
            <div className="card-panel">
              <form className="status-form" onSubmit={this.addPost}>
                <div className="row valign-wrapper no-margin">
                  <div className="col s12 m12 l10">
                    <div className="input-field no-margin">
                      <input id="status" className="no-margin" type="text" placeholder="Say something"/>
                    </div>
                  </div>
                  <div className="col s12 m12 l2">
                    <button className="btn waves-effect waves-light valign blue" type="submit">Post</button>
                  </div>
                </div>
              </form>
            </div>
          );
        }
      });

      var Post = React.createClass({
        render(){
          return(
            <div className="card-panel">
                <img src={this.props.img} className="circle post-picture"/>
                <p className="post-info">
                  <a href={this.props.url}>{this.props.name}</a> <span className="grey-text">{this.props.action}</span>
                </p>

              <div className="divider"></div>
              <p>{this.props.body}</p>
            </div>
          );
        }
      });

      var PostsList = React.createClass({
        render(){
          var list = this.props.posts;

          list.reverse();

          var postNodes = list.map(function(post){
            return(
              <Post
                img={post.img}
                url={post.url}
                name={post.name}
                action={post.action}
                body={post.body}
              />
            );
          });

          list.reverse();

          return (
            <div className="postList">
              {postNodes}
            </div>
          );
        }
      });

      var NewsFeed = React.createClass({
        getInitialState(){
          return {
            posts: [{
              img: "img/003.jpg",
              url: "#",
              name: "Peter Bernard M. Rupa",
              action: "says:",
              body: "This is a test post. Hooray!"
            }, {
              img: "img/002.jpg",
              url: "#",
              name: "Angelica P. Ware",
              action: "is looking for a job.",
              body: "Willing to take a job in the I.T. field. Message me."
            }]
          };
        },
        addPost(post){
          console.table(this.state.posts.concat(post));
          this.setState({
            posts: this.state.posts.concat(post)
          });
        },
        render() {
          return (
            <div className="col l8">
              <StatusBox addPost={this.addPost}/>
              <PostsList posts={this.state.posts}/>
            </div>
          );
        }
      });

      var HotJobItem = React.createClass({
        render() {
          var job = this.props.job;
          var url = "#/job/" + job.name;

          return (
            <li className="collection-item">
              <a href={url}>{job.name}</a>
            </li>
          );
        }
      });

      var HotJobs = React.createClass({
        getInitialState: function(){
          return {
            hotJobs: []
          };
        },
        componentWillMount: function(){
          var self = this;

          $.ajax({
            url: '/api/job',
            method: 'GET',
            success: function(jobs){
              self.setState({
                'hotJobs': jobs
              });
            }
          });
        },
        render() {
          var hotJobNodes = this.state.hotJobs.map(function(job){
            return(
              <HotJobItem
                job={job}
              />
            );
          });

          return (
            <div className="card-panel">
              <h5>Hot Jobs</h5>
              <div className="divider"></div>
              <ul className="collection">
                {hotJobNodes}
              </ul>
            </div>
          );
        }
      });

      var Homepage = React.createClass({
        render() {
          return (
            <div className="row">
              <NewsFeed/>
              <div className="col l4 hide-on-med-and-down">
                <div className="card-panel">
                  <div className="row valign-wrapper no-margin">
                    <div className="col l3">
                      <img src="img/003.jpg" className="circle info-picture" alt="Picture of Peter"/>
                    </div>
                    <div className="col l9">
                      <span className="valign info-name">Peter Bernard M. Rupa</span>
                      <span className="grey-text info-title">Student at the University of the Philippines</span>
                    </div>
                  </div>
                </div>
                <HotJobs/>
              </div>
            </div>
          );
        }
      });

      var JobPage = React.createClass({
        getInitialState: function(){
          return {
            job: null
          };
        },
        componentWillMount: function(){
          var self = this;

          $.ajax({
            url: "api/job/"+this.props.params.id,
            method: "GET",
            success: function(res){
              self.setState({
                job: res
              });
            }
          });
        },
        render(){
          var name = "";
          var country = "";
          var company = "";

          if(this.state.job){
            name = this.state.job.name;
            country = this.state.job.country;
            company = this.state.job.company;
          }

          return (
            <div>
              <h5>Job</h5>
              <p>
                {name}
              </p>
              <p>
                {country}
              </p>
              <p>
                {company}
              </p>
            </div>
          );
        }
      });

      var routes = (
        <Route>
          <Route path="/" handler={Layout}>
            <Route path="" handler={Homepage}/>
            <Route path="job/:id" handler={JobPage}/>
          </Route>
        </Route>
      );

      Router.run(routes, /*Router.HistoryLocation,*/ function(Handler){
        React.render(<Handler/>, document.body);
      });
    </script>
  </body>
</html>
