<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACE: Connect with professionals.</title>

    <link rel="stylesheet" href="css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/icons.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/index.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="section-1">
      <nav class="uppernav" class="navbar">
        <div class="nav-wrapper">
          <a href="#" class="hide-on-small-only"><img src="img/logo-full.png" class="navbar-logo"/></a>

          <ul class="right tab-element">
            <a href="/create" class="btn waves-effect waves-light white-outline">Create an account</a>
            <a href="/login" class="btn waves-effect waves-light white-outline">Log in</a>
          </ul>
        </div>
      </nav>
      <div class="section-1-content center-text container">
        <div id="tagline" class="row">
          <h1>Your job starts here.</h1>
        </div>
        <div id="sub-tagline" class="row">
          <h2 class="thin">Follow professionals in your field. Connect with them.</h2>
        </div>
        <div id="join-network" class="row">
          <a href="/" class="btn btn-large btn-curve waves-effect waves-light white blue-text">Join the network</a>
        </div>
        <div id="bs" class="row">
          <div class="col s12 m12 l4">
            <img src="img/professional-icon.png" class="circle bs-pic" />

            <div class="bs-name">Meet professionals.</div>
            <p class="thin">
              Easily connect with another professional. Search by name, by job, by field, or your mutual contacts. Finding has never been this easier.
            </p>
          </div>
          <div class="col s12 m12 l4">
            <img src="img/job-icon.png" class="circle bs-pic" />

            <div class="bs-name">Get jobs.</div>
            <p class="thin">
              Find and apply for jobs that suits your interests. Jobs can be searched, and vacant jobs are suggested according to your interests.
            </p>
          </div>
          <div class="col s12 m12 l4">
            <img src="img/happy-icon.png" class="circle bs-pic" />

            <div class="bs-name">Hire others.</div>
            <p class="thin">
              Advertise your job vacancy. Interested individuals may easily see your job posts.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-2">
      <div class="container">
        <div id="why-join" class="row">
          <h3 class="thin center-text">ACE is the leading social media for <span class="emphasize">professionals</span>.</h3>
        </div>
        <div class="row" style="line-height:0">
          <img src="img/screenshot.png" id="screenshot"/>
        </div>
      </div>
    </div>
    <div class="section-3">
      <div id="counter" class="row valign-wrapper">
        <div class="col l6 valign hide-on-med-and-down">
          <img src="img/assignment.png" class="center" />
        </div>
        <div class="col l6 valign">
          <p id="counter-number"></p>
          <p id="counter-desc">
            professionals are on ACE.
          </p>
        </div>
      </div>
    </div>
    <div class="section-4">
      <div class="container">
        <div class="row">
          <h4 id="awesome-people-label" class="center-text thin">Meet these <span class="emphasize">awesome</span> people behind the scenes.</h4>
        </div>
        <div class="row">
          <div class="col s12 m12 l4">
            <div class="card">
              <div class="card-image">
                <img src="img/peter.jpg"/>
              </div>

              <div class="card-content">
                <span class="card-title grey-text text-darken-4">Peter Bernard Rupa</span>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l4">
            <div class="card">
              <div class="card-image">
                <img src="img/julius.jpg"/>
              </div>

              <div class="card-content">
                <span class="card-title grey-text text-darken-4">Julius Jireh Vega</span>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l4">
            <div class="card">
              <div class="card-image">
                <img src="img/peter.jpg"/>
              </div>

              <div class="card-content">
                <span class="card-title grey-text text-darken-4">Peter Bernard M. Rupa</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">ACE.</h5>
            <p class="grey-text text-lighten-4">Made with ❤ by Jireh Lim Fans Club.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2015 Copyright
        </div>
      </div>
    </footer>

    <script src="javascript/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="javascript/materialize.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $.ajax({
          'url': '/api/user-count',
          'method': 'GET',
          'success': function(count){
            $('#counter-number').text(count);
          }
        });
      });
    </script>
  </body>
</html>
