<!DOCTYPE html>
<html>
	<head>
		<title> Test upload! </title>
	</head>
	<body> <!--Test for creating a user with picture-->
		<form method="post" enctype="multipart/form-data" action="/api/users">
			<input type="text" name="username" placeholder="username" /> <br />
			<input type="password" name="password" placeholder="password" /> <br />
			<input type="text" name="fname" placeholder="fname" /> <br />
			<input type="text" name="mname" placeholder="mname" /> <br />
			<input type="text" name="lname" placeholder="lname" /> <br />
			<input type="text" name="isadmin" placeholder="isadmin" /> <br />
			<input type="text" name="country" placeholder="country" /> <br />
			<input type="text" name="occupation" placeholder="occupation" /> <br />
			<input type="text" name="company" placeholder="company" /> <br />
			<input type="text" name="college" placeholder="college" /> <br />
			<input type="text" name="degree" placeholder="degree" /> <br />
			<input type="text" name="fieldofinterest" placeholder="fieldofinterest" /> <br />
			<input type="file" name="image"> <br />
			<input type="submit">
		</form>
	</body>
</html>