select {
  background: rgba(255,255,255,0.1);
  border: none;
  color: white;
  padding: 10px;
  font-size: 150%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

select option {
  color: black;
}

.autocomplete-suggestions {
  background: rgba(255,255,255,0.1);
  overflow: auto;
  color: rgba(255,255,255,0.6);
  font-size: 400%;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: white;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}
