/* NAV SPECIFIC RULES */
.nav-wrapper {
  padding: 0 5%;
}

.uppernav {
  background-color: inherit;
  box-shadow: none;
  position: relative;
}

.navbar-logo {
  height: 60%;
  margin-top: 1%;
}

.tab-input {
  margin: 0 0.75%;
  font-size: 0.5em;
}

.tab-square {
  height: 100%;
  width: auto;
}

.tagline {
  color: white;
  font-size: 3.5em;
}

/* Container */
.container-main {
  background: url(../img/bg.png);
  background-size: cover;
  margin: 15px 0;
  padding: 30px 0;
}

.container-tagline {
  margin-top: 125px;
}

.container-content {
  margin-top: 25px;
  padding: 0 4%;
}

.center-text {
  text-align: center;
}

html,body {
  margin: 0;
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.post-info {
  font-size: 0.90em
}

.post-picture {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 7px;
}

.info-picture {
  width: 100%;
  height: 100%;
}

.info-name {
  font-size: 1.5em;
  font-weight: bold;
}

.info-title {
  font-size: 0.85em;
}

.center {
  display: block;
  margin: auto;
}

.img-full {
  width: 100%;
  height: auto;
}

.bold {
  font-weight: bold;
}

.profile-top {
  padding: 20px 35px !important;
}

.profile-info {
  padding: 0 5% !important;
}

.profile-middle {
  padding: 20px 20px !important;
  font-size: 1.25em;
}

.experiences {
  font-size: 1.5em;
}

.profile-post {
  width: 60%;
  margin: auto;
}

.row.small-margin, .row.small-margin > .col {
  margin-bottom: 5px;
}

.navbar-item-area {
  margin-right: 5px;
  position: relative;
}

.navbar-item-area > .navbar-item {
  padding: 0 2px;
}

#notifications-pane {
  position: absolute;
  color: gray;
  left: -400%;
  z-index: 9999;
}

#notifications-pane .collection .collection-item.avatar {
  min-height: 62px;
  min-width: 500px;
}

.collection.small .collection-item.avatar {
  min-height: 62px;
  min-width: 500px;
}

.subtitle {
  font-size: 75%;
  color: grey;
}

.statistic-text {
  font-size: 250%;
  font-weight: 600;
}

.job-title {
  font-size: 300%;
  font-weight: 600;
}

.job-country {
  font-size: 150%;
  color: grey;
}

.job-closed {
  font-size: 150%;
}

/* label underline focus color */
.fade {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
}

input[type=text]:focus {
  border-bottom: 1px solid white !important;
}

.fade {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
}

input[type=password]:focus {
  border-bottom: 1px solid white !important;
}

/* icon prefix focus color */
.prefix.active {
  color: #4CAF50;
}

/* animation */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
